form
{
  margin: auto;
  position: relative;
  border-radius: 4%;
  box-shadow: 10px 10px 15px black;
  background-color: white;
  width: 65%;

}

h1
{
  position: relative;
  text-align: center;
  color: green;
  margin-bottom: 2%;
  font-size: 230%;
}


label
{
  position: relative;
  color: green;
  font-weight: bold;
}


button
{
  position: relative;
  color: white;
  background-color: green;
  text-align: center;
  width: 100%;
}

.form-check
{
  margin-top: 4%;
}

.ng-valid[required], .ng-valid.required  {
  border-color: 5px solid #42A948;
}



p-checkbox
{
  color: green;
}

input
{
  width: 100%;
}

re-captcha
{
  position: relative;
  width: 0%;
}

.fields
{
  position: relative;

}

.container
{
  width: 100%;
  margin: 0 auto;
}

#newsletter
{
  position: relative;
}

#cgu
{
  position: relative;
  color: green;
  font-weight: normal;
  padding-left: 7px;
}
