.container
{
  position: relative;
  top: 1cm;
}

h2
{
  color: white;
  font-size: 150%;
  border-width: thin;

}

p
{
  color: green;
  padding-top: 2%;
  font-weight: bold;
}

.spin {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 30px;
}

.spiner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;

}


.scrollbar {
  float: left;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 25px;
  display: flex;
}
.force-overflow {
  min-height: 450px;
}


.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

  .scrollbar-success::-webkit-scrollbar {
  width: 9px;
}

  .scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #448233;
}
