<html>
<head>
  <title>Ma première page avec du style</title>
</head>

<body>
  <div class="container-fluid mt-5 mx-0 px-0 mb-5">
  <div class="row" class="container">

    <div id="jardins" class="gardenElement" class="row mb-3">
      <div class="row w-100 mx-0 px-0 mb-3 border-bottom">
        <div class="col text-white">
          <h2>Mes jardins</h2>
        </div>
      </div>
      <div class="row w-100 mx-0 px-0 mb-1" *ngIf="gardens.length > 0">
        <div *ngFor="let add of this.gardens;" class="col-md px-1 mb-2">
          <app-ad-card [garden]="add"></app-ad-card>
        </div>
      </div>

      <div class="row w-100 mx-0 px-0 mb-1" *ngIf="gardens.length === 0">
        <p>Vous n'avez aucun jardin en ligne.</p>
      </div>

    </div>

    <div id="locations" class="gardenElement" class="row mb-3">
      <div class="row w-100 mx-0 px-0 mb-3 border-bottom">
        <div class="col text-white">
          <h2>Mes locations</h2>
        </div>
      </div>
      <div class="row w-100 mx-0 px-0 mb-1" *ngIf="locations.length > 0">
        <div *ngFor="let add of this.locations;" class="col-md px-1 mb-2">
          <app-ad-card [garden]="add"></app-ad-card>
        </div>
      </div>

      <div class="row w-100 mx-0 px-0 mb-1" *ngIf="locations.length === 0">
        <p>Vous n'avez loué aucun jardin.</p>
      </div>

    </div>

    <div id="demandes" class="gardenElement" class="row mb-3">
      <div class="row w-100 mx-0 px-0 mb-3 border-bottom">
        <div class="col text-white">
          <h2>Demandes envoyées</h2>
        </div>
      </div>
      <div class="row w-100 mx-0 px-0 mb-1" *ngIf="demandes.length > 0">
        <div *ngFor="let add of this.demandes;" class="col-md px-1 mb-2">
          <app-ad-card [garden]="add"></app-ad-card>
        </div>
      </div>

      <div class="row w-100 mx-0 px-0 mb-1" *ngIf="demandes.length === 0">
        <p>Vous n'avez envoyé aucune demande.</p>
      </div>

    </div>

  </div>
</div>
</body>
</html>
