.container
{
  position: relative;
  top: 1cm;
}

h2
{
  color: white;
  font-size: 150%;
  border-width: thin;

}

p
{
  color: green;
  padding-top: 2%;
  font-weight: bold;
}

.gardenElement
{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.card
{
  flex: 0 0 auto;
}


