.container
{
  display: table;
  position: relative;
  top: 3cm;
  //background-color: white;
}

h2
{
  color: white;
  font-size: 150%;
  //border-bottom: solid;
  border-width: thin;

}

p
{
  color: green;
  padding-top: 2%;
}


