<div class="container text-center withlogo" style="width: 50%; background-color: #f7f7f7">
   <img src="assets/img/test.jpg" alt="Garden Logo" class="avatar">
</div>
<div class=" container text-center withinfo" style="width: 50%; background-color: #f7f7f7">
    <div class="row">
      <div class="col-md text-center" [formGroup]="infoForm">
        <p>
          <label for="firstname">Nom</label><br>
          <input pInputText id="firstname" type="text" value="{{firstname}}" formControlName="firstname">
        </p>
        <p>
          <label for="lastname">Prénoms</label><br>
          <input pInputText id="lastname" type="text" value="{{lastname}}" formControlName="lastname">
        </p>
        <p>
          <label for="password">{{passwordLabel}}</label><br>
          <input pInputText id="password" type="password" formControlName="password">
          <i *ngIf="activateFields" class="pi pi-pencil" style="color: #006600" (click)="editPassword()"></i>
        </p>
      </div>
      <div class="col-md text-center" [formGroup]="infoForm">
        <p>
          <label for="email">Adresse mail</label><br>
          <input pInputText id="email"  type="email" value="{{email}}" formControlName="email">
        </p>
        <p>
          <label for="phonenum">Téléphone</label><br>
          <input pInputText id="phonenum" type="text" value="{{phoneNumber}}" formControlName="phoneNumber">
        </p>
        <p *ngIf="!activateFields"> Mon porte monnaie<br>
          <span style="font-size:25px">{{balance}} €<i class="pi pi-plus" style="color: #006600"></i></span>
        </p>
        <p *ngIf="editingPassword">
          <label for="confirmpassword">Confirmer mot de passe</label><br>
          <input pInputText id="confirmpassword" type="password" formControlName="confirmPassword">
        </p>
      </div>
    </div>
    <br>
    <button *ngIf="!activateFields" pButton label="Modifier" class="ui-button-rounded ui-button-success editing" type="button" (click)="switchFieldState()"></button>
    <button *ngIf="activateFields" pButton label="Enregistrer" class="ui-button-rounded ui-button-success editing" type="button" (click)="saveChanges()"
    [disabled]="!infoForm.valid || infoForm.untouched"></button>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <p-confirmDialog [style]="{width: '25vw'}" [baseZIndex]="10000" acceptLabel="Oui" rejectLabel="Non"
                     acceptButtonStyleClass="ui-button-rounded ui-button-success"
                     rejectButtonStyleClass="ui-button-rounded ui-button-danger"></p-confirmDialog>
    <button *ngIf="!activateFields" pButton label="Supprimer" class="ui-button-rounded ui-button-danger editing" type="button" (click)="confirmSuppression()"></button>
    <button *ngIf="activateFields" pButton label="Annuler" class="ui-button-rounded ui-button-danger editing" type="button" (click)="cancelAction()"></button>
    <br><br>
</div>

