<div class="container-md p-100 my-10 bg-white rounded">
  <h2 class="text-center" style="color:#005739">MOT DE PASSE OUBLIÉ</h2>
  <form [formGroup]="fgtPassForm" (ngSubmit)="onSubmit()" #myform="ngForm">
    <div class="text-center">
      <label style="color: #005739; font-weight: bold">
        Saisissez votre adresse mail<br>
        <div class="col">
          <input pInputText type="email" formControlName="emailControl" size="60%">
        </div>
      </label>
      <br>
      <!--TODO: replace with input field color change-->
      <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
    </div>
  </form>
</div>
