<p-card [subheader]="garden.name" styleClass="ui-card-shadow h-100">
  <div class="row">
    <div class="col">
      {{garden.criteria.price}} € / Mois
    </div>
  </div>
  <p-header>
    <img *ngIf="garden.photos && garden.photos[0].fileName && garden.photos[0].fileName.trim().length != 0" [src]="garden.photos[0].path">
    <img *ngIf="!garden.photos || !garden.photos[0].fileName || garden.photos[0].fileName.trim().length == 0" [src]="baseImage">
  </p-header>
  <div class="row">
    <div class="col">
      {{garden.criteria.area}} m <sup>2</sup>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <div class="row">
        <div class="col">
          {{garden.location.streetNumber}} {{garden.location.street}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{garden.location.postalCode}}, {{garden.location.city}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{garden.criteria.locationTime}} mois
    </div>
  </div>
  <p-footer>
    <a [routerLink]="'/details-annonce/'+garden.id" class="btn btn-sm ml-0 pl-0">Détails</a>
  </p-footer>
</p-card>
