:host {
  ::ng-deep {
    & .ui-card-shadow {
      min-width: 200px;
      max-width: 228px;
      overflow: hidden;
    }
    & .ui-card-header {
      height: 150px;
      overflow: hidden;
    }
    & .ui-card-subtitle {
      width: 200px;
      word-break: break-all;
    }
  }
}
img {
  max-width: 228px;
  height: 150px;
}

p-header
{
  background-color: white;
}
