:host {
  ::ng-deep {
    & .ui-card-shadow {
      min-width: 200px;
      max-width: 400px;
    }
    & .ui-card-header {
      height: 150px;
      overflow: hidden;
      background-color: #E6E6E6;
    }
  }
}
img {
  max-width: 500px;
}
