<app-research (searchEventEmitter)="onSearch($event)"></app-research>
<div class="container-fluid mt-5 mx-0 px-0 mb-5">
  <div class="row mb-1" *ngIf="gardens.length > 0 && !isSearch">
    <div class="col">
      <span class="h4 text-white">Parcourez les offres</span>
    </div>
  </div>

  <div class="row mb-3 mx-1 border-bottom" *ngIf="isSearch && gardens.length > 0">
    <div class="col text-white">
      {{gardens.length}} Résultat<span *ngIf="gardens.length > 1">s</span> pour votre recherche
    </div>
  </div>
  <div class="row mb-3 mx-1 border-bottom" *ngIf="isSearch && gardens.length == 0">
    <div class="col text-white">
      Aucun résultat
    </div>
  </div>
  <div class="row w-100 mx-0 px-0 mb-1">
    <div *ngFor="let add of gardens;" class="col-md px-1 mb-2" >
      <app-ad-card [garden]="add"></app-ad-card>
    </div>
  </div>
  <div class="row pt-1" *ngIf="!isSearch">
    <div class="col text-white text-right" *ngIf="!isAuth()">
      Avez vous un jardin à proposer ? <a routerLink="/inscription" class="link" >Inscrivez-vous</a> et trouvez des locataires
    </div>
  </div>
  <div class="row" *ngIf="!isSearch">
    <div class="col text-right">
      <button routerLink="/upload" pButton type="button" label="+ Nouvelle annonce" class="ui-button-rounded ui-button-secondary"></button>
    </div>
  </div>
</div>


