<nav class="navbar navbar-expand-sm menu-transparent">
  <a class="navbar-brand" routerLink="/accueil">
    <img src="../../../assets/img/logo.png" alt="Logo" class="logo">
  </a>
  <div *ngIf="!(route.url.includes('acceuil') || route.url.includes('upload'))">
    <button routerLink="/upload" pButton type="button" label="+ Nouvelle annonce" class="ui-button-rounded ui-button-secondary login-custom-button"></button>
  </div>
  <div *ngIf="!route.url.includes('acceuil')">
    <button routerLink="/" pButton type="button" icon="pi pi-search" label="Rechercher" class="ui-button-rounded ui-button-secondary login-custom-button"></button>
  </div>
  <div class="ml-auto mr-1 thisdiv" *ngIf="localStorageEmpty()">
    <button routerLink="inscription" pButton type="button" label="Inscription" class="ui-button-rounded ui-button-secondary login-custom-button"></button>
    <button type="button" (click)="showModalDialog()" pButton label="Connexion" class="ui-button-rounded ui-button-secondary login-custom-button"></button>
  </div>

  <div class="ml-auto mr-1 thisdiv" *ngIf="!localStorageEmpty()">
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
	<button #btn class="userMenuA login-custom-button" type="button" pButton (click)="menu.toggle($event)">
		<button class="userMenu" [ngStyle]="{'background-image': getAvatar()}"></button>
		<p style="display:inline;color: #f7f7f7;margin-bottom:0;">Bonjour, {{this.getFirstName()}}</p>
	</button>

	<button type="button" (click)="showConfirm()" id="deconnexion" pButton icon="pi pi-fw pi-sign-out" style="font-size: 18px;display:inline" class="ui-button-rounded ui-button-secondary login-custom-button"></button>
  </div>
</nav>


<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" class="modal_box">

      <p-header class="modal_header">Connexion</p-header>

      <app-connexion></app-connexion>

</p-dialog>

<p-toast [style]="{marginTop: '80px'}" key="c" [modal]="true" [baseZIndex]="5000" position="top-center">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
          <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

