.userMenu {
  right: 1cm;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px 40px;
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  border-style: none;
width: 35px;

height: 35px;

vertical-align: middle;
}


.logo {
  max-width: 200px;
}
.menu .menu-transparent {
  padding: 0;
  height: 75px;
}

.menu {
  background-color: #FFFFFF;
  border-bottom: #000000 solid 1px;
}

.modal_header
{
  font-size: 200%;
  color: green;
}

.userMenu {
  right: 0.5cm;
}

.thisdiv {
  float: right;
  text-align: right;
  width: 10cm;
  margin-right:100px !important;
}


.menu-transparent {
	height: 70px;
background: linear-gradient(180deg, rgba(0,0,0,.8), rgba(0,0,0,0.4));
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.login-custom-button {
background: none !important;
color: #f7f7f7 !important;
border: 2px solid transparent !important;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px !important;
} 


.login-custom-button:hover, .login-custom-button:active,  .login-custom-button:hover p, .login-custom-button:active p {
color: #289428 !important;
border-bottom-color: #289428 !important;
} 

.userMenu {
margin-left: 10px;
margin-right: 10px;
}


.login-custom-button:focus {
box-shadow: none !important;
}


.userMenuA {
  right: 1cm;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px 50px;
  background-color: transparent !important;
  border-style: none;
height: 43px;

vertical-align: middle;
}

.thisdiv p-tieredMenu {
text-align: left !important;
}