.logo {
  max-width: 200px;
}
.menu .menu-transparent {
  padding: 0;
  height: 75px;
}
.menu-transparent {
  background-color: rgba(0,0,0,0.4);
}

.menu {
  background-color: #FFFFFF;
  border-bottom: #000000 solid 1px;
}

